# Padrão Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# SO
.DS_Store
Thumbs.db

# Logs
*.log

# Dados locais (não versionar)
/database/data.ser